/* ==========================================================================
   Print Page Setup
   ========================================================================== */

@page {
    margin: 0;
    size: A4;
}



/* ==========================================================================
   Force Background Image Display
   ========================================================================== */

.print * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}
